.button-container {
    display: flex;
    align-items: center;
}

.number-pad-btn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    color: white;
    margin: 2px;
}

.gray {
 background-color: gray;
}

.orange{
    background-color: orange;
}